@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background: linear-gradient(to right, rgba(112, 157, 255, 0.589), hsla(242, 74%, 61%, 0.8)) !important;
}

@layer components {
  .skillsList {
    margin-top: calc(16px * -1);
    margin-left: calc(16px * -1);
  }

  .skillsListItem {
    flex-basis: calc((100% / 2) - 16px);
    margin-left: 16px;
    margin-top: 16px;
  }

  .skillsListSm {
    margin-top: calc(16px * -1);
    margin-left: calc(16px * -1);
  }

  .skillsListItemSm {
    flex-basis: calc((100% / 4) - 16px);
    margin-left: 16px;
    margin-top: 16px;
  }

  .workList {
    margin-top: calc(16px * -1);
    margin-left: calc(16px * -1);
  }

  .workListItem {
    flex-basis: calc((100% / 1) - 16px);
    margin-left: 16px;
    margin-top: 16px;
  }

  .workListItemSm {
    flex-basis: calc((100% / 2) - 16px);
    margin-left: 16px;
    margin-top: 16px;
  }

  .workListItemMd {
    flex-basis: calc((100% / 3) - 16px);
    margin-left: 16px;
    margin-top: 16px;
  }
}
